:root{
--primary-text-color: #434455;
--title-text-color: #4D5AE5;
--accent-color: #2E2F42;
--hover-fokus-color: #404bbf;
--text-footer: #E7E9FC;
--text-banner: #FFFFFF;
--logo-footer: #F4F4FD;
--buutton-background: #F4F4FD;
         
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color); 
}
/*header*/
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.logo-studio{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.header-nav .header-item:hover,
.header-nav .header-item:focus{
    color: var(--hover-fokus-color);
}
.header-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.contacts-address{
    font-style: normal;
}
.contacts .contact-li:hover,
.contacts .contact-li:focus{
    color: var(--hover-fokus-color);
}
.contact-li{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    }
   
    /* Main banner */
    .banner{
        background-color:var(--accent-color);
    }
    .banner-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--text-banner);
    }
    .banner-btn{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--text-banner);
        background: var(--title-text-color);
        cursor: pointer;
    }
    /* About company */
    .guality-company{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        
    }
    .guality-comp-descr{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }
    /* What are we doing */
      .doing-title{
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--accent-color);
    }
    /* Our team */
    .our-team{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--accent-color);
    }
    .name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    .direction{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }
    /* portfolio */
    .portf-butns .portf-butn-list:hover,
    .portf-butns .portf-butn-list:focus{
        background-color: var(--hover-fokus-color);
        color: var(--text-banner);
    }
    .portf-butn-list{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--title-text-color); 
        background: var(--buutton-background);
        cursor: pointer;
    }
    .link{
        text-decoration: none;
    }
    .title-img{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    .portf-list{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);        
    }
    /*footer*/
    .footer{
        background: var(--accent-color);
    }
    .link{
        text-decoration: none;
    }
    .logo-footer{
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    .studio-footer{
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1,16;
        letter-spacing: 0.03em;
        color: var(--logo-footer);
    }
    .page-footer{
        font-weight: 400;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: var(--text-footer);
    }